<h1>Authenticate#signup</h1>
<p>Find me in app/views/authenticate/signup.html.erb</p>
<a href="https://slack.com/openid/connect/authorize?
response_type=code
&scope=openid%20profile%20email
&client_id=2210535565.9831435111892
&state=af0ifjsldkj
&team=hackclub
&nonce=abcd
&redirect_uri=https%3A%2F%2Flocalhost%3A3000%2Fauth%2Fslack%2Fcallback">here</a>
